// Specific CSS for your home-page
.houses-container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.houses-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 45px;
}

.houses-card > a >.card{
  height:100%;
}

.card-footer{
border: none;
  p{
    margin-bottom: 5px;
  }
}

.card-body > p {
margin-bottom: 5px;
}

.banner > h1, .banner > p{
  color:white;
}

h5{
  font-family: Oswald;
  font-weight: 700 ;
}

.houses-card > a{
  text-decoration: none;
  color: black;
}

@media(max-width: 1300px) {
  .houses-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 995px) {
  .houses-card {
    grid-template-columns:  1fr 1fr;
  }
}

@media(max-width: 660px) {
  .houses-card {
    grid-template-columns:  1fr;
  }
}
