// .main_container {
//   display: flex;
//   justify-content: space-between;
//   margin: 50px;
// }

.img{
  width : 100vw;
  background-size: contain;
  background-position: center;
}

.form {
  background-color: rgba(255, 255, 255, 0.669);
  position: center;
}

.bricoleur {
  position: absolute;
  width: 80px;
  right: 450px;
}
