.top-margin-neg {
  margin-top: -90px;
}

.col-sticky {
  position: sticky !important;
  top: 84px
}

input[type="date"]::-webkit-calendar-picker-indicator {
  padding-left: 145px;
  padding-right: 50px;
  background-color: white;
  opacity: 0.8;
}

.banner-show {
  background-position: center;
  background-size: cover;
}
