<div class="marker-information">
<%= link_to house_path(house) do %>
    <h4><%= house.name %></h4>
    <p><%= house.price_per_night %> €/ Night </p>
    <p><%= house.number_of_people %> people</p>
<% end %>
</div>
