<% if notice %>
	<div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <img class="alert-smurf" src="https://res.cloudinary.com/dtdr8cuym/image/upload/v1677758254/kisspng-papa-smurf-the-smurfs-father-ray-mukada-magasin-sa-sirin-usaklar-pictures-free-download-5b750c4f183b48.1360731315343975190993_cudl5a.png" alt="">
    <span><%= notice %></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
<% if alert %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <img class="alert-smurf" src="https://res.cloudinary.com/dtdr8cuym/image/upload/v1677758254/kisspng-papa-smurf-the-smurfs-father-ray-mukada-magasin-sa-sirin-usaklar-pictures-free-download-5b750c4f183b48.1360731315343975190993_cudl5a.png" alt="">
    <span><%= alert %></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
