<footer class="footer border border-dark">
  <img class="smurf" src="https://i.pinimg.com/originals/dd/a2/98/dda29807a6a3509f497e85bfd41cda6e.png" alt="">
  <div class="bottom row ">
    <div class="col-4">
      <div class="usefull-links">
        <h5>Useful links</h5>
        <p><a href="https://www.dupuis.com/seriebd/les-schtroumpfs/117" target="blank">Smurf official</a></p>
        <p><a href="https://fr.wikipedia.org/wiki/Peyo" target="blank"> Peyo's bio</a></p>
        <p><a href="https://www.visitonsbruxelles.com/musee-bd?_gl=1*141cmrs*_up*MQ..*_ga*MTEwNzMwMDQxNC4xNjc3ODQyNDk0*_ga_216706797*MTY3Nzg0MjQ5NC4xLjAuMTY3Nzg0MjQ5NC4wLjAuMA..*_ga_D88YSTSSW9*MTY3Nzg0MjQ5NC4xLjAuMTY3Nzg0MjQ5NC4wLjAuMA.." target="blank"> Musée de la bd</a></p>
      </div>
    </div>
    <div class="col-4">
      <div class="usefull-links">
        <h5>Juzcar</h5>
        <p><%= link_to "Home",houses_path  %></p>
        <p><%= link_to "Sign in", user_session_path%></p>
        <p><%= link_to "My dashboard",  mydashboard_path%></p>
      </div>
    </div>
    <div class="col-4">
      <div class="input-group p-4 ">
        <input type="text" class="form-control" placeholder="Enter your e-mail" aria-label="Recipient's username" aria-describedby="button-addon2">
        <%= link_to "Subscribe", new_user_session_path, class: "btn btn-outline-dark", id:"btn-sign-in" %>
      </div>
      <div class="socials p-4">
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
