<footer class="footer">
  <div class="container"></div>
   <div class="row">
      <div class="col-5">
      </div>
      <div class="col-7">
        <img class="smurf" src="https://i.pinimg.com/originals/dd/a2/98/dda29807a6a3509f497e85bfd41cda6e.png" alt="">
      </div>
    </div>
    <div class="bottom row border border-dark">
      <div class="col-4">
        <p>
          Prolegomena,  quibus  alterum  hoc  scaenieorum  fragmentonun
          volumen  adomaturum  me  esse  in  prioris  praefationep.
          VIII  promiseram,  duabus  causis  motus  ad  tempus  reposui.
        </p>
      </div>
      <div class="col-4">
        <p>
          Primum novi  muneris  Heidelbergensis  curis  ita  distentus  at-
          que  occupatus  eram,  ut  pertexendi  ea  qua  opus  est  diligentia
          et subtilitate  opusculi  otium  adhuc  deficere  sentirem.
        </p>
      </div>
      <div class="col-4">
        <div class="input-group p-4 ">
          <input type="text" class="form-control" placeholder="Enter your e-mail" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-dark" type="button" id="button-addon2">Subscribe</button>
        </div>
        <div class="socials p-4">
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
