.flash {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 230, 141);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin: 8px;
}

.flash-success {
  border: 1px solid #000000;
}

.alert-smurf {
  width: 60px;
}
