.footer {
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  line-height: 60px;
  display: block;
  margin-top: 80px;
  background-color: rgb(75, 164, 75);
}

footer p {
  line-height: 30px;
  padding: 30px;
  margin: 0px;
}

footer .fa-brands {
  font-size:xx-large;
  width: 60px;
  color: white;
}

footer > .smurf {
  position: absolute;
  width: 50px;
  right: 160px;
  top: -70px;
}

.subscribe {
  border-radius: 0 ;
}

#btn-sign-in {
  border-radius: 0px;
  border-color: black;
  &:hover {
    border-radius: 0px 7px 7px 0px !important;
    border-color: black;
    color: white;
  }
}
