.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: block;
  }

 .bottom {
    background-color: #c6e2e9;
  }

  footer p {
    line-height: 30px;
    padding: 30px;
    margin: 0px;
  }

  footer .fa-brands {
    font-size:xx-large;
    width: 60px;
  }

  footer .smurf {
    width: 5%;
    text-align: right;
  }
