.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: block;
  }

  footer .row {
    background-color: white;
  }

  footer p {
    line-height: 30px;
    padding: 30px;
    margin: 0px;
  }

  footer .fa-brands {
    font-size:xx-large;
    width: 60px;
  }

  footer img {
    width: 10px;
  }
